.carousel-container {
  width: 100%;
  height: 400px;
}

.slide-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  color: white;
}

.bg-slide-1 {
  background: linear-gradient(to right, #ff007f, #ff328c);
}

.bg-slide-2 {
  background: linear-gradient(to right, #db2777, #f472b6);
}

.slide-title {
  font-size: 2.5rem;
  font-weight: bold;
}

.slide-text {
  font-size: 1.25rem;
  margin-top: 0.5rem;
}

.slide-image {
  height: 18rem; /* 72 x 0.25rem (tailwind h-72) */
}
